html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
}

a {
    display: inline-block;
    text-decoration: none;
}

ul,
li {
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
    padding: 0;
}

input,
select {
    outline: none;
}

button {
    border-width: 0px;
    padding: 0;
    outline: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    min-width: 320px;
    overflow-x: hidden;
}

.container {
    max-width: 1400px;
    padding: 0 15px;
    margin: 0 auto;
}

// start promo-name
.promo-name__wrapper {
    padding: 50px 0;
    background-repeat: no-repeat;
    background-position: center top;
}

.promo-name__title {
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
}

.promo-name__subtitle {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: #cf1f1f;
    font-size: 28px;
    margin-bottom: 30px;
    line-height: 34px;
}

.promo-name__wrap {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.promo-name__goods {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.promo-name__list {
    max-width: 400px;
    padding-left: 30px;
    &:first-of-type {
        list-style-image: url('../img/li.png');
    }
}

.promo-name__list-item {
    &+& {
        margin-top: 20px;
    }
}

.promo-name__img {
    margin-left: 20px;
    img {
        width: 200px;
    }
}

.promo-name__video {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    background-color: transparent;
    height: 100%;
    padding: 20px;
    border-radius: 20px;
}

.order__to-form {
    text-align: center;
    a {
        min-height: 61px;
        border-radius: 30px;
        cursor: pointer;
        color: #fff;
        background-image: -webkit-linear-gradient(90deg, #c8381c 0, #f09819 100%);
        box-shadow: 0px 7px 10px 0px rgba(31, 10, 3, .44);
        font-size: 30px;
        padding: 20px;
        transition: transform .3s;
        &:hover {
            background-image: -webkit-linear-gradient(90deg, #ff512f 0, #f09819 100%);
            transform: scale(1.1);
        }
    }
}

// end promo-name
// start sostav
.sostav__wrapper {
    padding: 50px 0;
    background-repeat: no-repeat;
    background-position: center top;
}

.sostav__inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
}

.sostav__item-wrap {
    position: relative;
    width: 100%;
    height: auto;
    &.active {
        .sostav__item {
            background-color: #fff;
            max-height: 1000px !important;
        }
        .sostav__first-text,
        .sostav__second-text {
            height: auto;
        }
    }
}

.sostav__items-wrap {
    margin-bottom: 50px;
    position: relative;
    height: 120px;
    &.first {
        z-index: 9;
    }
    &.second {
        z-index: 8;
    }
    &.third {
        z-index: 7;
    }
    &.fourth {
        z-index: 6;
    }
    &.fifth {
        z-index: 5;
    }
    &.sixth {
        z-index: 4;
    }
}

.sostav__item {
    max-width: 370px;
    width: 100%;
    display: flex;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    max-height: 140px;
    height: auto;
    position: relative;
    overflow-y: hidden;
    transition: max-height .5s ease;
}

.plus {
    position: absolute;
    width: 28px;
    height: 28px;
    bottom: -14px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background: linear-gradient(to right, #79ab2b, #9fc547, #7bac2c);
    cursor: pointer;
    z-index: 1;
    span {
        width: 2px;
        height: 11px;
        height: 2px;
        width: 11px;
        background-color: #fff;
        margin: 12px auto;
        position: relative;
        display: block;
        &::before {
            display: block;
            content: '';
            position: absolute;
            width: 11px;
            height: 2px;
            width: 2px;
            height: 11px;
            background-color: #fff;
            top: -4px;
            left: 4px;
        }
    }
    &.rotate {
        span {
            &::before {
                display: none;
            }
        }
    }
}

.sostav__first-img,
.sostav__second-img {
    display: flex;
    align-items: flex-start;
    img {
        border-radius: 50%;
        width: 100px;
        height: 100px;
    }
}

.sostav__first-text,
.sostav__second-text {
    margin-left: 20px;
    height: 100px;
    overflow-y: hidden;
}

// end sostav
// start recalls
.recalls__wrapper {
    padding: 100px 0;
    background-repeat: no-repeat;
    background-position: center;
}

.slick-arrow {
    display: none !important;
}

.slick-list {
    margin-bottom: 20px;
}

.slick-dots {
    text-align: center;
    li {
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 2px solid #1c2042;
        cursor: pointer;
        &+li {
            margin-left: 20px;
        }
        button {
            display: none;
        }
        &.slick-active {
            background-color: #680b0a;
        }
    }
}

.recalls__items-wrap {
    display: flex;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
}

.recalls__items-img {
    margin-right: 20px;
}

// end recalls
// start promo
.promo__wrapper {
    padding: 50px 0;
    background-repeat: no-repeat;
    background-position: center top;
    color: #fff;
}

.promo__wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
}

.promo__img {
    img {
        max-width: 350px;
    }
}

.promo__info {
    max-width: 500px;
    margin-left: 30px;
}

.promo__characteristic {
    margin-bottom: 20px;
}

.characteristic__list {
    list-style: none;
    text-align: center;
}

.characteristic__item {
    display: inline-block;
    &+& {
        margin-left: 20px;
    }
}

// end promo
// start order
.order__wrapper {
    padding: 50px 0;
    background-repeat: no-repeat;
    background-position: center top;
}

.order__title {
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
}

.order__subtitle {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: #cf1f1f;
    font-size: 28px;
    margin-bottom: 30px;
    line-height: 34px;
}

.order__wrap {
    display: flex;
    justify-content: center;
}

.forma {
    background-color: #fff;
    border: 4px solid #680b0a;
    width: 400px;
    margin-left: 100px;
}

.timer {
    padding-top: 20px;
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
}

.timer__text {
    font-size: 22px;
    margin-bottom: 20px;
}

.countdown__item {
    display: inline-block;
    font-weight: 700;
    height: 50px;
    line-height: 50px;
    font-size: 42px;
    width: 65px;
    position: relative;
}

.prices {
    margin-top: 15px;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
    &::after {
        position: absolute;
        content: '';
        left: 0;
        right: 0;
        width: 2px;
        height: 100%;
        margin: 0 auto;
        background-color: #680b0a;
    }
    .price__old,
    .price__new {
        display: inline-block;
        margin: 0 25px;
    }
    .price__old {
        position: relative;
        line-height: 1.7;
        &::after {
            position: absolute;
            transform: rotate(-10deg);
            width: 100%;
            height: 3px;
            background-color: #cf1f1f;
            left: 0;
            bottom: 13px;
            content: '';
        }
    }
    .price__old_text,
    .price__new_text {
        text-transform: uppercase;
        font-size: 14px;
        color: #c0adac;
    }
    .old_price_val,
    .old_price_cur {
        font-size: 20px;
    }
}

.form-name,
.form-phone {
    position: relative;
}

.circle {
    position: absolute;
    right: 5px;
    top: 8px;
    background-color: #000;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    cursor: pointer;
    color: #fff;
    padding-left: 10px;
    font-size: 14px;
    font-weight: 700;
}

.info-name,
.info-phone {
    position: absolute;
    top: -27px;
    right: 0;
    transform: translateX(10%);
    background-color: #680b0a;
    max-width: 200px;
    width: 100%;
    text-align: center;
    padding: 5px;
    color: #fff;
    border-radius: 10px;
    display: none;
}

.form__list {
    padding: 0 30px;
    margin-bottom: 30px;
    input,
    select {
        display: block;
        border: none;
        border-bottom: 2px solid #123b61;
        padding-left: 30px;
        padding-right: 40px;
        margin-bottom: 10px;
        height: 40px;
        background-repeat: no-repeat;
        background-position: left center;
        width: 100%;
    }
    input {
        padding-left: 35px;
    }
    select {
        background-image: url('../img/world.webp');
    }
    input[name=name] {
        background-image: url('../img/man.webp');
    }
    input[name=phone] {
        background-image: url('../img/tel.webp');
    }
}

.zak__btn {
    display: block;
    font-size: 18px;
    height: 61px;
    margin-top: 20px;
    line-height: 58px;
    width: 100%;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    color: #fff;
    background-image: -webkit-linear-gradient(90deg, #c8381c 0, #f09819 100%);
    box-shadow: 0px 7px 10px 0px rgba(31, 10, 3, .44);
    font-weight: 700;
    outline: none;
    transition: transform .3s;
    &:hover {
        background-image: -webkit-linear-gradient(90deg, #ff512f 0, #f09819 100%);
        transform: scale(1.2);
    }
}

.new_price_val {
    font-size: 37px;
    line-height: 0.7;
    font-weight: 700;
}

.new_price_cur {
    font-size: 26px;
    margin-left: 5px;
}

.countdown {
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 50px;
}

.countdown {
    color: #000;
}

.colon {
    display: inline-block;
}

.countdown-number {
    padding: 8px;
    border-radius: 3px;
    display: inline-block;
    font-weight: 700;
}

.countdown-time {
    padding: 8px;
    border-radius: 3px;
    display: inline-block;
}

// end order
@import 'media';